<!DOCTYPE html>
<html>
<head>
  <title>PostingsSimple</title>
  <%= stylesheet_link_tag    "postings_simple/application", :media => "all" %>
  <%= javascript_include_tag "postings_simple/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
